<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <h3 id="page-heading2" style="color:#000000;">Write Your Name</h3>
    <form id="page-form3" class="list">
      <label class="item item-input" id="page-input4">
        <span class="input-label">Name</span>
        <input type="text" ng-model="mdl.name" placeholder="">
      </label>
      <h3 id="page-heading3" style="color:#000000;">Write Your Last Name</h3>
      <label class="item item-input" id="page-input5">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="mdl.lastname" placeholder="">
      </label>
    </form>
        <a ui-sref="page2({ name: mdl.name, lastname:
        mdl.lastname })" id="page-button1" class="button button-positive button-block">Submit</a>
  </ion-content>
</ion-view>